.mesa-page {
    background: green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mesa {
    height: 75vh;
    width: 75vh;
    background-color: rgb(0, 182, 0);
    border-radius: 50%;
    border: 3px solid orange;
}