.mesa-page {
    background: green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turno {
    position: absolute;
    top: 20px;
    right: 20px;
    background: orange;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
}