.loading-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.336);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}