.menu-page {
    background-color: green;
    height: 100vh;
}

.header {
    background-color: rgb(0, 75, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.menu-container {
    width: 50%;
    height: 200px;
    margin: 50px auto;
    background-color: rgb(0, 182, 0);
    border-radius: 10px;
    border: 3px solid orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input {
    height: 35px;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.button-play {
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
}

.button-play:hover {
    background-color: rgb(189, 123, 0);
}